.card {
    border: none;

    .card-body {
        background-color: #f2f2f2;
        border-radius: 6px;
        margin: 20px 0;
    }

    .card-header {
        position: relative;
        padding: 16px 0;
        border: none;
        border-bottom: 1px solid lightgray;

        a {
            position: relative;
            word-break: break-all;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 1px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            span.plus__x {
                transition: all ease-in 0.4s;
                position: relative;
                width: 21px;
                height: 21px;

                &::before {
                    position: absolute;
                    display: block;
                    content: "";
                    width: 21px;
                    height: 1px;
                    top: 10px;
                    background-color: #333;
                }

                &::after {
                    position: absolute;
                    display: block;
                    content: "";
                    width: 1px;
                    height: 21px;
                    left: 10px;
                    background-color: #333;
                }
            }
        }
    }

    .card-header a[aria-expanded="true"] {
        color: #007bff;
        .plus__x {
            transform: rotate(45deg);
            transition: all ease-in 0.4s;
        }
    }
}
