.section__pannel {
    background-color: #fff;
    padding: 28px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(191, 161, 161, 0.5);
    margin-bottom: 48px;

    &:last-of-type {
        // margin-bottom: 0;
    }

    h3 {
        margin-bottom: 28px;
        font-weight: 300;
        text-transform: uppercase;
    }
}

h3 {
    margin-bottom: 28px;
    font-weight: 300;
    text-transform: uppercase;
}

.pannel {
    margin: 0 10px;
    height: 330px;
    width: calc(25% - 20px);
    position: relative;
    perspective: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    @include breakpoint(md) {
        width: calc(50% - 20px);
        margin-bottom: 20px;
    }

    @include breakpoint(sm) {
        width: calc(50% - 20px);
        margin-bottom: 20px;
    }

    @include breakpoint(xs) {
        width: 100%;
        margin: 20px;
    }
}

.pannel__row {
    display: flex;
    margin: 0 -10px;

    @include breakpoint(md) {
        flex-wrap: wrap;
    }

    @include breakpoint(sm) {
        flex-wrap: wrap;
    }

    @include breakpoint(xs) {
        flex-wrap: wrap;
        margin: 0;
    }
}

.pannel__title {
    font-size: 14px;
    font-weight: 300;
    padding: 6px;
    background-color: #fbfbfb;
    border-bottom: 1px solid #ececec;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 0;
    width: 100%;
}

.pannel__cta {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px;
    background-color: #fff;
    width: 100%;
}

.pannel__codes {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    background-color: aliceblue;
    padding: 15px 0 0;
    width: 100%;
}

.pannel__amount {
    padding: 15px 0;
    width: 100%;

    h2,
    h4 {
        font-weight: 300;

        span {
            font-weight: 900;
        }
    }

    h2 {
        font-size: 1.5rem;
        margin-top: 0;
    }

    h4 {
        font-size: 1.2rem;
    }
}

.pannel__p--blue {
    font-size: 16px;
    color: #0097dc;
}

.pannel__text {
    font-size: 13px;
    text-align: justify;
}

.pannel__front {
    height: inherit;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 900;
    width: 100%;
    border: 1px solid #ececec;
    border-radius: 5px;
    text-align: center;
    transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    backface-visibility: hidden;
    transition: all 0.4s ease-in-out;
}

.pannel__back {
    height: inherit;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding: 15px;
    border: 1px solid #ececec;
    border-radius: 5px;
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: all 0.4s ease-in-out;
}
.pannel.flip .pannel__front {
    z-index: 900;
    transform: rotateY(180deg);
}
.pannel.flip .pannel__back {
    z-index: 1000;
    transform: rotateX(0deg) rotateY(0deg);
}
