//header variables
$page-padding: 30px;
$tablet-header-inner-padding: 40px 30px 30px;
$mobile-header-inner-padding: 30px 0 0;
$mobile-nav-padding: 50px 30px 30px;

// latest news / news ticker
.news-ticker {
    position: relative;
    display: block;
    width: 100%;
    padding: 0 $page-padding;

    @include breakpoint(xs) {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    @include breakpoint(sm) {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
}

#breaking {
    font-size: 15px;
    padding: 5px 5px 5px $page-padding;
    background: #007bff;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;

    @include breakpoint(xs) {
        width: 100%;
        text-align: center;
    }

    @include breakpoint(sm) {
        width: 100%;
        text-align: center;
    }
}
#breaking,
#newsTicker {
    border: none;
}
#newsTicker {
    position: absolute;
    width: 100%;
    background-color: aliceblue;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 998;

    @include breakpoint(xs) {
        top: 33px;
    }

    @include breakpoint(sm) {
        top: 33px;
    }
}
.date {
    margin-right: 10px;
    text-decoration: underline;
}
.story {
    margin-right: 20px;
}
#newsTicker p {
    margin: 0;
    display: inline-block;
    font-size: 15px;
    padding-left: 100%;
    animation: tickerTape 60s linear infinite;
}
@keyframes tickerTape {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

.header {
    display: block;
    width: 100%;
    background-color: #121424;
    height: 90px;

    @include breakpoint(xs) {
        height: auto;
    }

    @include breakpoint(sm) {
        height: auto;
    }

    &__logo img {
        @include breakpoint(xs) {
            height: 50px;
            width: 150px;
        }

        @include breakpoint(sm) {
            height: 50px;
            width: 170px;
        }
    }

    &__inner {
        width: 100%;
        height: 100%;
        padding: $page-padding;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include breakpoint(xs) {
            height: auto;
            padding: $mobile-header-inner-padding;
            flex-direction: column;
        }

        @include breakpoint(sm) {
            height: auto;
            padding: $tablet-header-inner-padding;
        }
    }

    &__banner img {
        width: 100%;
        max-width: 450px;
        min-width: 150px;
    }

    &__ctas {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include breakpoint(xs) {
            flex-direction: column;
            padding: 0;
        }

        p {
            font-size: 12px;
            text-transform: uppercase;
            color: #fff;

            @include breakpoint(sm) {
                display: none;
            }
            @include breakpoint(xs) {
                display: none;
            }
        }
    }

    &__input {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        margin-right: 28px;
        outline: none;
        outline: 0;

        @include breakpoint(xs) {
            margin: 28px;
            transform: scale(0.9);
        }

        p {
            margin-bottom: 5px;
        }
    }

    &__subscribe {
        width: 100%;
        display: flex;
        align-items: center;
        text-align: left;
    }

    &__logo img {
        // height: 90px;
    }
}

.logoright {
    padding: 0;
}

.button--blue {
    padding: 0.3rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}

.subscribe__input {
    width: 100%;
    padding: 7px;
    border: 0;
    border-radius: 4px 0 0 4px;
}
// nav section
.nav__section {
    position: relative;

    &.is-visible {
        @include breakpoint(xs) {
            width: 100%;
            box-shadow: 0 2px 4px #ddd;
            left: 0;
            transition: all ease-in-out 0.3s;
        }

        @include breakpoint(sm) {
            width: 100%;
            box-shadow: 0 2px 4px #ddd;
            left: 0;
            transition: all ease-in-out 0.3s;
        }
    }

    @include breakpoint(xs) {
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 250px;
        left: -250px;
        top: 0;
        transition: all ease-in-out 0.3s;
        padding: $mobile-nav-padding;
        background-color: #fff;
        z-index: 1000;
        overflow-x: scroll;
    }

    @include breakpoint(sm) {
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 250px;
        left: -250px;
        top: 0;
        transition: all ease-in-out 0.3s;
        padding: $mobile-nav-padding;
        background-color: #fff;
        z-index: 1000;
        overflow-x: scroll;
    }
}
// sub navigation
.sub-nav {
    background-color: #d9e5f4;
    width: 100%;

    &__list {
        display: flex;
        list-style: none;
        width: 100%;
        padding: 5px $page-padding;
        margin: 0;

        @include breakpoint(xs) {
            flex-direction: column;
            align-items: flex-start;
            padding: 10px;
        }

        @include breakpoint(sm) {
            flex-direction: column;
            align-items: flex-start;
            padding: 10px;
        }
    }

    &__item {
        padding: 6px;

        a {
            font-size: 14px;
            text-decoration: none;
            color: #00aeef;
        }
    }
}
// main navigation
.nav {
    width: 100%;
    // max-width: 1140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    // margin: 0 auto;
    padding: 10px $page-padding;

    @include breakpoint(xs) {
        flex-direction: column;
        width: 100%;
        left: -250px;
        top: 0;
        transition: all ease-in-out 0.3s;
        padding: 0;
        background-color: #fff;
        z-index: 1000;
    }

    @include breakpoint(sm) {
        flex-direction: column;
        width: 100%s;
        left: -250px;
        top: 0;
        transition: all ease-in-out 0.3s;
        padding: 0;
        background-color: #fff;
        z-index: 1000;
    }

    &__menu--close {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 21px;
        height: 21px;
        display: none;
        transform: rotate(45deg);
        opacity: 0.4;
        cursor: pointer;

        @include breakpoint(xs) {
            display: block;

            &:hover {
                opacity: 1;
            }

            &::before {
                position: absolute;
                display: block;
                content: "";
                width: 21px;
                height: 1px;
                top: 10px;
                background-color: #333;
            }

            &::after {
                position: absolute;
                display: block;
                content: "";
                width: 1px;
                height: 21px;
                left: 10px;
                background-color: #333;
            }
        }

        @include breakpoint(sm) {
            display: block;

            &:hover {
                opacity: 1;
            }

            &::before {
                position: absolute;
                display: block;
                content: "";
                width: 21px;
                height: 1px;
                top: 10px;
                background-color: #333;
            }

            &::after {
                position: absolute;
                display: block;
                content: "";
                width: 1px;
                height: 21px;
                left: 10px;
                background-color: #333;
            }
        }
    }

    &__list {
        display: inline-flex;
        list-style: none;
        padding: 0;
        margin: 0;

        @include breakpoint(xs) {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        @include breakpoint(sm) {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
    }

    &__item {
        padding: 6px;

        @include breakpoint(xs) {
            width: 100%;
            padding: 10px 0;
            border-bottom: 1px solid #c1c1c1;
        }

        @include breakpoint(sm) {
            width: 100%;
            padding: 10px 0;
            border-bottom: 1px solid #c1c1c1;
        }

        a {
            font-size: 14px;
            text-decoration: none;
            color: #76797c;
        }
    }

    &__form {
        position: relative;
        margin: 0;

        @include breakpoint(xs) {
            width: 100%;
            margin: 28px 0;
        }

        @include breakpoint(sm) {
            width: 100%;
            margin: 28px 0;
        }
    }

    &__input {
        width: 100%;
        padding: 7px;
        border: 1px solid #76797c;
        border-radius: 4px;
        font-size: 14px;
        position: relative;
        z-index: 0;

        &--ico {
            display: block;
            position: absolute;
            right: 0;
            top: 8px;
            cursor: pointer;

            &::before {
                display: block;
                content: "";
                width: 14px;
                height: 14px;
                position: absolute;
                right: 10px;
                top: 1px;
                border-radius: 100%;
                border: 2px solid #c1c1c1;
                z-index: 1;
            }

            &::after {
                display: block;
                content: "";
                width: 6px;
                height: 2px;
                background-color: #c1c1c1;
                position: absolute;
                right: 21px;
                top: 15px;
                border-radius: 100%;
                transform: rotate(-45deg);
                z-index: 1;
            }
        }
    }
}
// nav burger
.nav-burger {
    position: absolute;
    z-index: 10;
    display: none;
    width: 30px;

    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        left: 32%;
        top: 44%;
        border-radius: 100%;
        transition: all 0.5s;
    }

    .icon-bar {
        background: #fff;
        width: 20px;
        height: 2px;
        display: block;
        transition: all 0.2s;
        margin: 5px 3px;
        transition: all 0.5s;
    }

    .top-bar {
        transform: rotate(0);
        transform-origin: 10% 10%;
    }

    .middle-bar {
        opacity: 1;
        width: 20px;
        position: relative;
    }

    .bottom-bar {
        transform: rotate(0);
        transform-origin: 10% 90%;
    }

    &.is-clicked {
        display: none;
        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 40px;
            height: 40px;
            left: -29%;
            top: -33%;
            transition: all 0.5s;
        }

        &::before {
            color: #333;
        }

        .icon-bar {
            background: #333;
            position: relative;
            z-index: 1;
        }

        .top-bar {
            transform: rotate(45deg);
            transform-origin: 10% 10%;
            width: 22px;
        }

        .middle-bar {
            opacity: 0;
        }

        .bottom-bar {
            transform: rotate(-45deg);
            transform-origin: 10% 90%;
            width: 22px;
        }
    }

    // &::before {
    //     content: "MENU";
    //     display: block;
    //     position: absolute;
    //     right: 40px;
    // }

    @include breakpoint(xs) {
        display: block;
        top: 10px;
        left: 10px;

        &::before {
            color: #fff;
            font-size: 15px;
            content: "MENU";
            display: block;
            position: absolute;
            left: 30px;
            top: 2px;
        }
    }

    @include breakpoint(sm) {
        display: block;
        top: 10px;
        left: 10px;

        &::before {
            color: #fff;
            font-size: 15px;
            content: "MENU";
            display: block;
            position: absolute;
            left: 30px;
            top: 2px;
        }
    }
}
