  

body {
	background-color: #f5f5f5;
	font-family: 'Roboto', sans-serif;

}
a:link {
	color: #76797c;
}
a:hover {
	text-decoration: none;
}
/* navigation */

.bg-light{
	background-color: #fff;
}
.navbar-expand-sm .navbar-collapse{
	padding: 0 2%;
}
.logoright{
	padding-top: 5%; 
}
.mainnav:hover, .minnav:focus {
	border-bottom: 2px solid #00aeef;
	color: #00aeef;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover{
	color: #00aeef;
}
.navbar-toggler {
    position: relative;
    margin: 0 auto !important;
}
.abovenav {
	background-color: #121424;
	padding:10px 5%;
}

.simple-subscription-form {
	color: #fefefe;
	border-radius: 0;
}

.simple-subscription-form .button {
	border-radius: 0 0 0 0 !important;
	background-color: #2b8a3e;
	color:#ffffff;
	border: none;
	height:30px;
}
.newcol {
	color: #ffffff;
}
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.navbar .navbar-collapse {
	text-align: center;
}
.navbar-nav {
	float:none;
	margin:0 auto;
	display: block;
	text-align: center;
}

.navbar-nav > li {
	display: inline-block;
	float:none;
}


/* jumbotron */

.jumbotron {
	background-image: url(../assets/hero.png);
	background-repeat: no-repeat;
	background-size:cover;
}


.fontsize{
	font-size:12px;
	color:#fff;
}
.breadcrumb {
	background-color: #f5f5f5;
}

.bar{
	color:#ffffff;
}

.progress{
	margin-bottom: 10px;
}
/* main */

.sidenav {
	height:100%;
	padding-left: 2%;
}
.border {
	border: 1px solid #bbbbbb;
	padding-bottom: 2%;
}

.card-header {
	background:none;
}

  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
  .blognews{
  	border: 1px solid #bbbbbb;
  	padding-top: 2%;
  }
/* footer */

.page-footer {
	background-color: #d9e5f4;
}

.fa {
	padding: 20px;
	font-size: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
}

.fa:hover {
	opacity: 0.7;
}

